html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
